$nomal-primaria: #06121e;
$negrito-primaria: #040f1a;
$claro-primaria: #0c2135;

$normal-secundaria: #090d11;
$negrito-secundaria: #06090c;
$claro-secundaria: #1a1f25;

$preto-normal: #232224;
$preto-escuro: #161617;
$preto-claro: #353436;

$branco-normal: #fff;
$branco-escuro: #edeaef;
$branco-claro: #fefbff;

$vermelho-normal: #d94140;
$vermelho-escuro: #b42b2b;
$vermelho-claro: #d34040;